body {
  background: #fffbf7;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("../images/tokyo-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fffbf7;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 150px 50px;
}
header h1 {
  font-weight: 700;
  font-size: 85px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 300;
  font-size: 35px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #fffbf7;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 40px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url(../images/tokyo-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fffbf7;
  font-family: "Montserrat", sans-serif;
  padding: 70px 40px;
}

footer h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
footer p {
  font-weight: 200;
  font-size: 14px;
  line-height: 1.5;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer a {
  color: #fffbf7;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
div {
  display: block;
}

@media (max-width: 992px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 70px;
  }
  header h2 {
    font-size: 30px;
  }
  header h3 {
    font-size: 18px;
  }
  header a {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 55px;
  }
  header h2 {
    font-size: 25px;
  }
  header h3 {
    font-size: 16px;
  }
  header a {
    font-size: 10px;
    padding: 8px 15px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 40px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 14px;
  }
  header a {
    font-size: 10px;
    padding: 8px 15px;
  }
}
