:root {
  --primary-color: #fcfbfa;
  --secondary-color: #1a1a2e;
  --primary-font: "Montserrat", sans-serif;
}
body {
  background: var(--primary-color);
  margin: 0 auto;
  max-width: 100%;
  font-family: var(--primary-font);
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("../images/tokyo-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  text-align: center;
  padding: 120px 50px;
}
header h1 {
  font-weight: 700;
  font-size: 85px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 40px;
}
main {
  background-color: white;
}
main h2 {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 0 auto;
}
main h3 {
  color: var(--secondary-color);
  font-weight: 800;
  font-size: 32px;
  line-height: 1.5;
  margin: 0 auto;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--secondary-color);
  margin: 10px 0px 0px 0px;
}
main h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--secondary-color);
  margin: 0 auto;
}

main p {
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.8;
  text-align: justify;
}
.about-tokyo {
  text-indent: 8%;
}
#tokyo-temple {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  margin-top: 5px;
}
.img-responsive {
  width: 100%;
  display: block;
}
.mobile {
  display: none;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}
.second-section {
  background-color: #ebe3df;
}
.second-section h2,
.second-section h3 {
  text-align: center;
}
.third-section h2,
.third-section h3 {
  text-align: center;
}
.fourth-section h2 {
  text-align: center;
  margin-bottom: 20px;
}
.spotify-embed {
  width: "60%";
}

.fourth-section {
  background-color: #ebe3df;
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  padding: 80px;
  grid-gap: 50px;
}
.grid-2-cards {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-122 {
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 50px;
}
.grid-3-columns-111 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.card {
  background-color: white;
  margin: 15px;
  border-radius: 3px;
}
.card-body {
  padding: 20px;
}
.map-link {
  text-decoration: none;
  color: var(--secondary-color);
}
.map-link:hover {
  text-decoration: underline;
}
.card-img {
  border-radius: 3px;
}
.card-header.grid {
  grid-gap: 0;
}
.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.card-footer {
  padding: 0 20px 10px 20px;
}

.btn {
  display: block;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 15px 25px;
}
.gallery {
  padding: 20px;
  grid-gap: 15px;
}
.gellery-img {
  margin: 0 auto;
  border-radius: 3px;
  max-width: 600px;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url(../images/tokyo-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  padding: 20px 40px;
}

footer h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
footer p {
  font-weight: 200;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer a {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
div {
  display: block;
}
.profile-link {
  text-decoration: none;
  font-weight: 500;
  color: #ffb9b9;
}

@media (max-width: 992px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 70px;
  }
  header h2 {
    font-size: 30px;
  }
  header h3 {
    font-size: 16px;
  }
  header a {
    font-size: 12px;
  }
  main h2 {
    font-size: 14px;
  }
  main h3 {
    font-size: 31px;
  }
  main p {
    font-size: 16px;
  }
}
@media (max-width: 820px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 55px;
  }
  header h2 {
    font-size: 25px;
  }
  header h3 {
    font-size: 14px;
  }
  header a {
    font-size: 10px;
    padding: 8px 15px;
  }
  main h2 {
    font-size: 12px;
    text-align: right;
  }
  main h3 {
    font-size: 28px;
    text-align: right;
  }
  .card-img {
    display: none;
  }
  .mobile {
    display: block;
  }
  .embed {
    display: none;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .grid-2-columns {
    padding: 50px;
  }
}
@media (max-width: 576px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 40px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 10px;
    padding: 8px 15px;
  }
  .about-tokyo {
    text-indent: 5%;
  }
  main h3 {
    font-size: 24px;
  }
  main h4 {
    font-size: 20px;
  }
  .card {
    margin: 20px;
  }
  .grid-2-columns {
    padding: 30px;
  }
  #tokyo-temple {
    margin-top: 5px;
  }
  .spotify-embed {
    width: "80%";
  }
}
